body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
* {
  background-color: rgba(10, 10, 9, 0.622);
}
div {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
h1 {
  padding: 100px;
  /* font-weight: bolder; */
  color: aqua;

  font-size: 85px;
}
